
        /* REGLA 1. Utilizar el selector universal * para cambiar el tipo de fuente del documento */
        * {
            font-family: 'Open Sans', sans-serif;
        }

        /* REGLA 2. El elemento body tendrá margen 0 y relleno de 20% únicamente a la derecha e izquierda */
        body {
            margin: 0;
            padding: 0 20%;
        }

        /* REGLA 3. Los elementos h1 estarán subrayados, de color darkcyan y centrados */
        h1 {
            text-decoration: underline;
            color: darkcyan;
            text-align: center;
        }

        /* REGLA 4. Los elementos con clase selector tendrán color lightcyan */
        .selector {
            color: lightcyan;
        }

        /* REGLA 5. Los elementos con clase selectors tendrán relleno de 5%, borde darkcyan y esquinas redondeadas */
        .selectors {
            padding: 5%;
            border: solid darkcyan 1px;
            border-radius: 5px;
        }

        /* REGLA 6. Los elementos con id universal tendrán color lightgoldenrodyellow */
        #universal {
            color: lightgoldenrodyellow;
        }

        /* REGLA 7. Los h2 con clase selector o id universal tendrán fondo darkcyan, relleno y bordes redondeados */
        h2.selector, h2#universal {
            background-color: darkcyan;
            padding: 1%;
            border-radius: 5px;
        }

        /* REGLA 8. Los span tendrán font-weight:900, fondo negro y texto blanco */
        span {
            font-weight: 900;
            background-color: black;
            color: white;
        /* ADICIONES para espaciar el texto sin eliminar la regla 8 */
            padding: 2px 4px;
            display: inline-block;
        }

        /* REGLA 9. Los a hijos directos de un li no tendrán subrayado */
        li > a {
            text-decoration: none;
        }

        /* REGLA 10. Los h3 tendrán fondo con transparencia, relleno y bordes redondeados */
        h3 {
            background-color: rgba(0, 139, 139, 0.529);
            padding: 0.5px;
            border-radius: 5px;
        }

        /* REGLA 11. Los div dentro del elemento con id gallery tendrán ancho 100% */
        #gallery div {
            width: 100%;
        }

        /* REGLA 12. Las imágenes tendrán ancho 100%, borde y esquinas redondeadas */
        img {
            width: 100%;
            border: solid darkcyan 1px;
            border-radius: 5px;
        }
   